REACT_APP_FIREBASE_API_KEY=AIzaSyCYgRw1A3pUNODzkhVaQ9lyfUAgUZtvyrk
REACT_APP_FIREBASE_AUTH_DOMAIN=final-737ad.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://final-737ad-default-rtdb.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=final-737ad
REACT_APP_FIREBASE_STORAGE_BUCKET=final-737ad.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=186787033416
REACT_APP_FIREBASE_APP_ID=1:186787033416:web:680c8c058d1c68bd07c37d
REACT_APP_FIREBASE_MEASUREMENT_ID=G-46B52ZPRKZ
node_modules
